* {
    color:#686868;
    font-family: 'Alegreya', serif;
}

/* ------------- Who we are section --------------- */


.icon-color
{
    color: #8e7754 ;
}


.w-90
{
    width: 90%;
}

#who-we-are span
{
    font-size: 17px;
}

/* ourLocation */

.ourLocation {
    background-color: #f8f8f8;

}

.ourLocation .inner , .inner-txt{
    width: 93%;
}

.ourLocation h2 {
    font-family: Alegreya;
    font-size: 32px;
    line-height: 44.16px;
    margin-bottom: 25px;
}

.ourLocation p {
    font-family: "Alegreya Sans";
    color: #686868;
    font-size: 17px;
    line-height: 31.62px;
    font-weight: 400;
}

.ourLocation .img-caption img {
    width: 100%;
}



