* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: "Alegreya Sans";

}
/* home-section */
.home
{
    height: 100vh;
    background-image: url(../imgs/drew-coffman-1872.jpg);
    background-position: center center;
    background-size: 100% 100%;
}
.home-cap h1
{
    font-size: 75px !important;
}
.home-cap p
{
    font-size: 22px;
}
.btn
{
    color: white;
    border: 2px solid white !important;
    padding: 15px 28px !important;
    transition: all 1s;
}
.btn:hover
{
    background-color: white;
}

.btn1
{
    background-color: #8e7754;
    border: none !important;
    margin-right: 5px ;
}
.navbar img
{
    width: 140px;
}
.setting
{
    position: fixed;
    top: 30%;
    right: 0;
    background-color: white;
    height: 86px;
    width: 42px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setting i
{
    display: block;
    transition: all 1s;
}
.setting i:hover
{
    color: #0275d8;
}
.mouse
{
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 32px;
    height: 50px;
    border: 1px solid white;
}
.mouse::after
{
    content: "";
    background-color: white;
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: moving infinite alternate 1s;
    transition: all 1s;

}
@keyframes moving {
    0%{top:10%};
    20%{top:70%};
    50%{top:60%};
    80%{top:50%};
    100%{top:40%};
}
/* home-section */



/* ourLocation */

.ourLocation {
    background-color: #f8f8f8;

}

.ourLocation .inner , .inner-txt{
    width: 93%;
}

.ourLocation h2 {
    font-family: Alegreya;
    font-size: 32px;
    line-height: 44.16px;
    margin-bottom: 25px;
}

.ourLocation p {
    font-family: "Alegreya Sans";
    color: #686868;
    font-size: 17px;
    line-height: 31.62px;
    font-weight: 400;
}

.ourLocation .img-caption img {
    width: 100%;
}


/* ----------- contact ---------- */
.location{ 
    padding-right: 5%;
}

.location .location-content{
    width: 42%;
    margin: 4% 7% 0px 10%;
}


.location .loction-img{
    width: 37%;
    margin-right: 4%;
}

.we-are{
    padding: 4% 0px;
}


.we-are .content{
    margin-left: 6%;
    width: 50%;
    float: left;
    padding: 4% 0px;
}

.we-are .content-info{
    margin: 0% 7% 0px 10%;
    padding: 0%;
}

.we-are .div-img{
    width: 44%;
    float: left;
}

.content h2{
    color: rgb(61, 61, 61);
    margin-bottom: 26px;
    font-size: 28px;
    font-weight: lighter;
}

.content p{
  color: #7a7878;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 20px;
}

.content table .fa{
  color: #8e7754; 
  padding: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 22px;
  margin-right: 23px;
  margin-bottom: 10px;
}
